#restaurantName {
	font-family: 'century gothic', 'Verdana', helvetica, arial, sans-serif;
	font-size: 24px;
	color: slateGray;
}

#content {
	font-family: 'century gothic', 'Verdana', helvetica, arial, sans-serif;
	font-size: 14px;
	margin: 10px 0 0 0;
}

.space {
	margin: 4px 0 0 0;
}

.attribute {
	color: #000066;
}

.value {
	color: #0099FF;
}

#mapLink {
	text-decoration:underline;
	font-size: 14px;
	font-family: 'century gothic', 'Verdana', helvetica, arial, sans-serif;
	color: slateGray;
}

#searchResult {
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

#smallText {
	font-size: 10px;
}